<!doctype html>
<html lang="ja">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- CSS -->
<link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/dashboard.css" rel="stylesheet">
<link href="../../assets/css/datatables.css" rel="stylesheet">
<link href="../../assets/css/header.css" rel="stylesheet">
<link href="../../assets/css/top.css" rel="stylesheet">
<!-- JavaScript -->
<script src="../../assets/js/jquery-3.3.1.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/datatables.js"></script>
<script src="../../assets/js/popper.min.js"></script>
<script src="../../assets/js/top.js"></script>
<title>(。-G-)chanのまとめ</title>
</head>
<body class="text">
	<!-- Header -->
	{{> header.html}}
	<!-- Container -->
	<div class="container-fluid">
		<div class="row">
			<!-- Navigation -->
			{{> sidebarNavigation.html}}
			<!-- Main -->
			<main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
			<!-- Message Area  --> {{> messageArea.html}}
			<div class="starter-template">
				<div>
					<div class="col-sm-6 d-none d-md-block">
						<h1 class="title">このサイトについて</h1>
					</div>
				</div>
				<div>
					<br>
					<div>
						<p>2チャンネル、5チャンネル系のまとめブログを提供するいわゆるアンテナサイトです。</p>
						<p>ご使用のブラウザ、またはそのバージョンによって挙動が不安定、正しく表示されない場合がございます。</p>
					</div>
					<hr>
					<div>
						<h3>
							■登録するブログについて
						</h3>
						<p>登録基準は特にないです(笑)</p>
						<p>管理者が面白いと思うサイトを登録していきます。</p>
					</div>
					<hr>
					<div>
						<h3>
							■リンク
						</h3>
						<p>設置してくださると嬉しいです。</p>
						<p>&lt;a href=&quot;XXXXXXXXXXXXXXXXXX&quot;&gt;(。-G-)chanのまとめ&lt;/a&gt;</p>
					</div>
					<hr>
					<div>
						<h3>
							■登録依頼について
						</h3>
						<p>登録していただきたいブログ様がございましたら、メールにてご連絡ください。</p>
						<p>常設リンクの設置と、RSS/atom登録はしておいてください。</p>
						<p>管理者が独断と偏見でサイトを確認したのち、問題なければご登録させていただきます。</p>
					</div>
					<hr>
					<div>
						<h3>
							■登録削除について
						</h3>
						<p>お問合せで削除依頼があった場合や、更新されないサイトは定期的に削除します。</p>
						<p>悪質な広告表示やアダルト広告が多くなったサイトは削除することがあります。</p>
					</div>
					<hr>
					<div>
						<h3>
							■メンテナンスについて
						</h3>
						<p>当サイトの改善等を行う際に一時的にサイトをご利用いただけない場合がございます。</p>
						<p>その際にはSNSで周知させていただきますので、ご了承ください。</p>
					</div>
					<hr>
					<div>
						<h3>
							■お問い合わせについて
						</h3>
						<p>ご要望やご連絡は下記メールアドレスにお願いします。</p>
						<p>XXXXX@gmail.com</p>
					</div>
				</div>
			</div>
			</main>
		</div>
	</div>
</body>
</html>