<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="ナビゲーションの切替">
		<span class="navbar-toggler-icon"></span>
	</button>
	<a class="navbar-brand col-sm-3 col-md-2 d-none d-md-block" href="/">(。-G-)chan</a>
	<div class="collapse navbar-collapse" id="navbarToggler">
		<div class="navbar-nav w-100 nav-justified">
          <a class="nav-item nav-link active" href="#">人気記事<span class="badge badge-success">工事中!</span></a>
          <a class="nav-item nav-link active" href="/favorite">お気に入り<span class="badge badge-primary">{{sidebarDto.favoritArticleCount}}</span><span class="sr-only"></span></a>
          <a class="nav-item nav-link active" href="/settings">設定<span class="sr-only"></span></a>
          <a class="nav-item nav-link active" href="/about">サイトについて<span class="sr-only"></span></a>
        </div>
	</div>
</nav>