<!doctype html>
<html lang="ja">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<!-- CSS -->
<link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
<link href="../../assets/css/dashboard.css" rel="stylesheet">
<link href="../../assets/css/datatables.css" rel="stylesheet">
<link href="../../assets/css/header.css" rel="stylesheet">
<link href="../../assets/css/top.css" rel="stylesheet">
<!-- JavaScript -->
<script src="../../assets/js/jquery-3.3.1.min.js"></script>
<script src="../../assets/js/bootstrap.min.js"></script>
<script src="../../assets/js/datatables.js"></script>
<script src="../../assets/js/currency.js"></script>
<script src="../../assets/js/popper.min.js"></script>
<script src="../../assets/js/top.js"></script>
<title>(。-G-)chan</title>
</head>
<body class="text">
	<!-- Header -->
	{{> header.html}}
	<!-- Container -->
	<div class="container-fluid">
		<div class="row">
			<!-- Navigation -->
			{{> sidebarNavigation.html}}
			<!-- Main -->
			<main role="main" class="col-md-10 ml-sm-auto col-lg-10 px-4">
			<!-- Message Area  --> {{> messageArea.html}}
			<div class="starter-template">
				<div class="row">
					<div class="col-sm-6 d-none d-md-block">
						<h1 class="title">設定</h1>
					</div>
				</div>
				<div class="col-md-7 border">
					<form class="form-signin" action="/settings" method="post">
						<fieldset class="form-group">
							<div class="row">
								<legend class="col-form-label col-sm-6 pt-0">記事のリンク</legend>
								<div class="col-sm-6">
									<div class="form-check">
										<label class="form-check-label">
										{{#targetSelf}}
										<input class="form-check-input" type="radio" name="targetSelf" value="true" checked="checked">
										{{/targetSelf}}
										{{^targetSelf}}
										<input 	class="form-check-input" type="radio" name="targetSelf" value="true">
										{{/targetSelf}}
										ページ内で開く</label>
									</div>
									<div class="form-check">
										<label class="form-check-label">
										{{#targetSelf}}
										<input class="form-check-input" type="radio" name="targetSelf" value="false">
										{{/targetSelf}}
										{{^targetSelf}}
										<input class="form-check-input" type="radio" name="targetSelf" value="false" checked="checked">
										{{/targetSelf}}
										別タブで開く(デフォルト)</label>
									</div>
								</div>
							</div>
						</fieldset>
						<div class="form-group row">
							<div class="offset-sm-6 col-sm-6">
								<button type="submit" class="btn btn-primary">設定</button>
							</div>
						</div>
					</form>
				</div>
			</div>
			</main>
		</div>
	</div>
</body>
</html>