<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/">
          <span data-feather="file"></span> 新着記事
          <span class="badge badge-primary">{{sidebarDto.newArrivalArticleCount}}</span>
        </a>
        <a class="nav-link" href="/blogIndex">
          <span data-feather="file"></span> 登録ブログ
          <span class="badge badge-primary">{{sidebarDto.registeredBlogCount}}</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
