.title{
	padding-top: 10px
}

.btn{
	height:100%;
	max-width:80px;
	width:100%;
	font-size:14px;
	padding: 2px 6px;
}

.editColomn{
	width:150px;
}

.labelColomn{
	width:90px;
	text-align:justify;
}

.buttonColomn{
	text-align: right;
	width:120px;
}

.bg-primary{
	font-size:14px;
	padding: 2px 6px;
}

.bg-warning{
	font-size:14px;
	padding: 2px 6px;
}

.bg-success{
	font-size:14px;
	padding: 2px 6px;
}


.table>thead{
	text-align: center;
}

.pagenation{
	padding-top: 2px;
	padding-bottom: 2px;
}

.index{
	padding-bottom: 20px;
}

.lastWeeklyReport{
	padding-top: 10px;
}

.card{
	margin-top: 20px;
	padding-bottom:0px;
}

.card-body{
	text-align: right;
	padding-top:10px;
	padding-bottom:10px;
}

.border {
    position: relative;
    display: block;
    margin-bottom: 0.75rem;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 2px solid rgba(0, 0, 0, 0.25);
    padding: 1.25rem;
}
